
@{
    ViewBag.Title = "Index";
}

<h2>Check positioning in google search</h2>

@using (Html.BeginForm("Position", "Home"))
{
    <p>@Html.Label("keyword","Put your key words here:") <br /> @Html.TextBox("keyword", "online tiitle search")</p>
    <p>@Html.Label("url","Check positioning of: ") <br />  @Html.TextBox("url", "www.infotrack.com.au")</p>
    <p><input type="submit" name="check" value="Positions found in Google result" /></p>
}



